.each-list {
  list-style-type: none;
  margin: 10px;
}
.btn {
  border: 1px solid #f3aa4e;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 20px;
  }
}
.non-active {
  background-color: transparent;
}
.active {
  background-color: #f3aa4e;
}
