.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: #1a171d;
  height: 60px;
  min-width: 150px;
}
@media screen and (min-width: 768px) {
  .list {
    height: 80px;
    padding: 20px;
  }
}
.input-text {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: bold;
  color: #f8fafc;
}
@media screen and (min-width: 768px) {
  .input-text {
    font-size: 26px;
  }
}
.button-style {
  background-color: #f3aa4e;
  border-radius: 25px;
  border: none;
  width: 69px;
  height: 29px;
  font-size: 15px;
  color: #323f4b;
  font-weight: 500;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .button-style {
    font-size: 19px;
    width: 160px;
    height: 45px;
  }
}
